* {
    font-family: 'Roboto', sans-serif;
}
body {
    background: url('../img/fundo.png');
    background-size: 100%;
    background-repeat: no-repeat;
    overflow: hidden;
}
.main {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    overflow: hidden;
}
.main .logo img {
    height: 500px;
    margin-top: 200px;
}
.main .container {
    max-width: 80%;
    margin: auto;
    margin-top: 200px;
    margin-left: 80px;
}
.main .container .nav {
    margin-top: -60px;
}
.main .container .nav ul {
    display: grid;
    grid-template-columns: 100px 100px;
    list-style: none;
    text-decoration: none;
}
.main .container .nav a {
    text-decoration: none;
    color: #1EA6C6;
    font-size: 24px;
    font-weight: bold;
}
.main .container .nav .highlight {
    border-bottom: 4px #000000 solid;
}
.main .container .nav .highlight-opacity {
    opacity: 50%;
}
.main .container .nav .highlight-opacity:hover {
    opacity: 100%;
    transition: 0.3s all;
}
.main .container form input {
    padding: 8px 0px;
    margin-left: 40px;
    margin-top: 55px;
    width: 484px;
    border: none;
    border-bottom: 2px solid #000000;
    display: flex;
    font-size: 18px;
    color: #000000;
}
.links {
    font-size: 14px;
    text-decoration: none;
    margin-left: 38px;
    margin-right: 80px;
    margin-top: 15px;
    color: #000000;
    opacity: 60%;
}
.links:hover {
    opacity: 100%;
}
#forget {
    font-size: 18px;
    font-weight: lighter;
    margin-left: 37px;
}
.nav-login {
    display: grid;
    grid-template-columns: 40px 40px 80px;
    list-style: none;
}
.btn-login {
    margin-top: -60px;
    margin-left: 310px;
    padding: 15px 25px;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.btn-login:hover {
    background-color: #fff;
    color: #000000;
    border: 1px #000000 solid;
    transition: 0.7s all;
}
.main .container .form-cadastro {
    padding: 8px 0px;
}
.main .container .form-cadastro input {
    margin-top: 20px;
}
.main .container .nav-cadastro {
    margin-top: -60px;
}
.main .container .nav-cadastro ul {
    display: grid;
    grid-template-columns: 100px 100px;
    list-style: none;
    text-decoration: none;
}
.main .container .nav-cadastro a {
    text-decoration: none;
    color: #1EA6C6;
    font-size: 24px;
    font-weight: bold;
}
.main .container .nav-cadastro .highlight {
    border-bottom: 4px #000000 solid;
}
.main .container .nav-cadastro .highlight-opacity {
    opacity: 50%;
}
.main .container .nav-cadastro .highlight-opacity:hover {
    opacity: 100%;
    transition: 0.3s all;
}
.btn-cadastro {
    margin-top: -60px;
    margin-left: 283px;
    padding: 15px 25px;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 30px;
}
.btn-cadastro:hover {
    background-color: #fff;
    color: #000000;
    border: 1px #000000 solid;
    transition: 0.7s all;
}

