body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin: 0;
}
.imagem{
    background-image: url('../fundo1.jpg') ;
    width: 100%;
}
.imagem .subtitulo{
    text-align: center;
    padding-top:2%;
    padding-bottom: 2%;
    color: white;
    font-size: 60px;
}
.imagem .subtitulo p{
    padding-top:2%;
    font-size: 36px;
}
.imagem h1{
    margin-block-start: 0;
    margin-block-end: 0;
}
.imagem .caixona{
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-evenly;
}
.imagem .caixona .caixa{
    background-color: rgb(255, 255, 255);
    width: 27.5%;
    text-align: center;
    height: 525px;
}
.fas{
    color: greenyellow;
}
.imagem .caixona .caixa p{
    padding: 5%;
    color: gray;
}
.imagem .caixona .caixa .textopreço{
    color: gray;
}
.imagem .caixona .caixa .textopreço .preço{
    color: greenyellow;
    font-size: 28px;
}
.botoes{
    display: flex;
    padding-right: 5%;
    padding-left: 5%;
    justify-content: space-evenly;
}
.botoes input{
    color: rgb(255, 255, 255);
    background-color: yellowgreen;
    outline-style:none ;
    border-width: 0;
    font-size: 28px;
    width: 27.5%;
    height: 60px;
    padding: 10px;
    box-shadow: 5px 5px 15px 1px #888888;
}
.ultimaparte{
    text-align: center;
    margin-top: 5%;
}
.ultimaparte .textinho{
    
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2.5%;
}
.ultimaparte input{
    color: rgb(255, 255, 255);
    background-color: yellowgreen;
    outline-style:none ;
    border-width: 0;
    font-size: 28px;
    width: 27.5%;
    height: 60px;
    padding: 10px;
    box-shadow: 5px 5px 15px 1px #888888;
    border-radius: 10px;
    margin-bottom: 5%;
}
.avaliações{
    display: flex;
    align-items: center;
    padding-left: 9%;
}
.titulo2 {
    padding: 5px;
}
.titulo2 h2{
    font-size: 32px;
    color: greenyellow;
    text-align: center;
    margin-block-start: 0;
    margin-block-end: 0;
}
.avaliações .comentario {
    display: flex;
    margin-top: 5%;
    flex-direction: row;
    MIN-WIDTH: 125%;
}
.fa-user-circle{
    color: greenyellow;
    margin-right: 2.5%;
}
.avaliações .comentario .caixacoment{
    width: 50%;
    min-height: 50px;
    color: greenyellow;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    padding: 2%;
    background-color: rgb(59, 59, 59);
}
.avaliações .comentario .caixacoment .nome{
    color: white;
    font-size: 16px;
    float: right;
}
.avaliações .ilustracao{
    float: right;
}