body {
  margin: 0;
  background-image: linear-gradient(to right, #ffa500 ,#ffae00);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

.container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.header {
  height: 97px;
  width: 100%;
  background-image: linear-gradient(to right, #ffa500 , rgb(228, 114, 21), #ffa500);
}

.container h1 {
 
  text-align: center;
  height: 37px;
  text-shadow: 2px 2px 2px black;
}

.aba {
  margin: -5px;
  display: inline-block;
  border-radius: 5px;
  background: white;
  width: 99%;
  height: 100%;
  padding: 15px 15px 0 15px;
}

.box {
  width: 300px;
  margin: 5px;
  margin-bottom: 25px;
  border-radius: 5px;
  height: 400px;
  color: #ffa500;
  position: relative;
  background-color: whitesmoke;
  box-shadow: 6px 5px #b0a7a1;
  float: left;
  margin-left: 6%;
  border: 3px solid #ffa500;
}

.log img {
  width: 240px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 164px;
}

.box h2 {
  padding: 50px 10px;
}

.box p {
  margin-bottom: 0%;
}

a{
  text-decoration: none;
  color: #ffa500;
}