body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 15px;
    background: url('../img/glenn-carstens-peters-2E_dT65fyxo-unsplash.jpg') no-repeat;
    background-position: bottom;
}
:root{
    --Cor_primaria: #7bac3b;
    --Cor_secundaria: rgb(254, 150, 7);
    --Cor_terciaria: white;
}
.v-header{
    width: 100%;
    height: 55px;
    background-color: var(--Cor_terciaria);
    border-bottom: rgb(254, 150, 7) 2px solid;
    margin-bottom: 20px;
}
.v-container{
    padding-left: 10px;
}
.v-container img {
    transition: 0.3s;
}
.v-main{
    width: 100%;
    min-height: 500px;
}
.v-box02{
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    height: 78px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--Cor_secundaria);
    border-radius: 20px 20px 0px 0px;
}
.v-box{
    width: 30%;
    margin: auto;
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--Cor_terciaria);
    border-radius: 0px 0px 20px 20px;
    height: 260px;
}
.v-box form{
    display: flex;
    flex-direction: column;
}
.v-box label{
    font-weight: bold;
}
.v-box input{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 20px;
    padding-left: 10px;
    border-bottom: var(--Cor_secundaria) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 18px;
    font-weight: normal;
    border-radius: 5px;
}

.v-box input:focus, select:focus{
    outline: 0;
    border-bottom: black 2px solid;
    transition: 0.3S;
}
.v-box select{
    margin-top: 10px;
    margin-bottom: 10px;
    height: 26px;
    border-bottom: var(--Cor_secundaria) 2px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 5px;
}
.v-box a{
    color: var(--Cor_secundaria);
    font-weight: bold;
    text-decoration: none;
}
.v-box a:hover{
    transform: scaleY(1.1);
    transition: 0.3s;
    color: black;
    transform: scale(1.3);
}
.v-box #btn_entrar{
    margin-left: auto;
    margin-right: auto;
    width: 160px;
    height: 30px;
    border: none;
    background-color: var(--Cor_secundaria);
    border-radius: 10px;
    transition: 0.3s;
}
.v-box #btn_entrar:hover{
    transition: 0.3s;
    transform: scale(1.1);
    background-color: black;
    color: var(--Cor_terciaria);
}