*
{
    padding: 0;
    margin: 0;
}

#check
{
    display: none;

}

#check2
{
    display: none;
}





#icone
{
   
  position: fixed;
  left: 0;
  top: 0;
  width: 8em;
  /* cursor: pointer; */
  padding: 15px;
  z-index: 2;
  
  
}

#icone2
{
   
  position: fixed;
  right: -5%;
  top: 0px;
  width: 8em;
  /* cursor: pointer; */
  padding: 15px;
  z-index: 2;
  
}

.barra
{
    background-color:#000;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all .2s linear;
    left: -300px;
    opacity: 0.3;
    z-index: 0;
    overflow: hidden;
}

.barra2
{
    background-color:#000;
    height: 100%;
    width: 300px;
    position: fixed;
    transition: all .2s linear;
    right: -300px;
    opacity: 0.3;
    z-index: 0;
    overflow: hidden;
   
}



nav
{
    position: fixed;
    width: 100%;
    top: 60px;
    overflow: hidden;
    
}

nav a
{
    text-decoration: none;
    overflow: hidden;
    
}

.link
{
    background-color:#000;
    width: 300px;
    padding: 20px;
    font-family: Arial;
    font-size: 12pt;
    transition: all .1s linear;
    color: white;
    border-bottom: 2px solid white;
    opacity: 0;
    z-index: 1;
    overflow: hidden;
    display: none;
   
    
}

.link:hover
{
    background-color: white;
    color: #80ff00;
    overflow: hidden;
}

#check:checked~.barra
{
    transform: translateX(300px) ;
    z-index: 1;

}

#check2:checked~.barra2
{
    transform: translateX(-300px);
    z-index: 1;
}

#check:checked~.barra nav a .link
{
    margin-top: 0;
    opacity: 1;
    display: block;
}

#check2:checked~.barra2 nav a .link
{
    margin-top: 0;
    opacity: 1;
}

.menu
{
    position: fixed;
    width: 100%;
    height: 100px;
    background-color: #80ff00;
}

.img1
{
    height: 200px;
    width: 200px;
    margin-left: 40%;
}

.imagem
{
    background: url('../img/soja.jpg') no-repeat;
    width: 100%;
    background-size: 270%;
    height: 960px;
    z-index: 1;
}

.img1
{
    height: 500px;
    width: 500px;
    z-index: 1;
}

.logo
{
    margin-right: 20%;
    z-index: 1;
}

.textlogo h1
{
    color: #753a00;
    font-size: 40px;
    margin-left: 10%;
    margin-top: -10%;
    font-family: "Goudy Bookletter 1911", sans-serif;

}


.textlogo p
{
    color: #753a00;
    font-size: 30px;
    margin-left: 10%;
    margin-top: 5%; 
   font-family: "Lucida" Grande, sans-serif;;


}

.img2
{
    width: 100px;
    height: 100px;
    margin-left: 45%;
    margin-top: 20%;
    opacity: 0.5;
    z-index: 1;
    
}


.img2:hover

{
    transform: scale(1.3);
    opacity: 1;
}



#mouse {
	display: block;
	width: 22px;
	height: 40px;
	border-radius: 20px;
	border: 4px solid #753a00;
	text-align: center;
	position: fixed;
	left: 0px;
	right: 0px;
	bottom: 20px;
    margin: 0 auto;
    z-index: 1;
}

#mouse::before {
	content: '';
	display: inline-block;
	width: 4px;
	height: 8px;
	position: relative;
	border-radius: 4px;
	background: #753a00;
	animation-name: mouse;
  animation-duration: .7s;
    animation-iteration-count: infinite;
    z-index: 1;
}

@keyframes mouse {
	from {
		top: 0px;
	}
  to {
		top: 6px;
	}
}

.blocos
{
    width: 100%;
    height: 300px;
    color: white;
    position: relative;
    margin-top: -1%;
    z-index: 0;
}

#imgl
{
    width: 50%;
    height: 400px;
    float: left;
    border-radius: 10px;
}

.blocos p
{
    
    color:  #753a00;
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 10%;
    padding-left: 10px;
    
}


.borda
{
    width: 100%;
    
}

.bd1
{
    width: 100%;
    height: 500px;
}

.texth h1
{
    font-size: 30px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #753a00;
    margin-left: 20%;
}


.texth p
{
    font-size: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #753a00;
    margin-left: 20%;
    font-style: italic;

    margin-top: 10%;
}

.texth i
{
    font-size: 70px;
    float: left;
    margin-left: 15%;
    margin-top: 15%;
    color: #753a00;
}


.texth
{
    margin-top: -5%;
}




.bd2
{
    width: 100%;
    height: 500px;
    margin-top: 5%;

}

.expl
{
    margin-top: -5%;
    
}
.expl i
{
    color: #80ff00;
    font-size: 90px;
    margin-left: 10%;
}

.expl p
{
    color: #00ff00;
    font-size: 30px;
    float: left;
    margin-right: 50%;
    margin-top: 5%;
    margin-left: 5%;
}


.expr
{
    padding-top: 10%;
}
.expr i
{
    color: #80ff00;
    font-size: 90px;
    float: right;
    margin-top: 10%;
    margin-right: 5%;
}

.expr p
{
    color: #00ff00;
    font-size: 30px;
    float: right;
    margin-left: 50%;
    margin-top: 5%;
    margin-right: 2%;
}


.expl1
{
    padding-top: 10%;
}
.expl1 i
{
    color: #80ff00;
    font-size: 90px;
    margin-left: 10%;
    margin-top: 10%;
}

.expl1 p
{
    color: #00ff00;
    font-size: 30px;
    float: left;
    margin-right: 50%;
    margin-top: 5%;
    margin-left: 5%;
}


.il
{
    float: left;
    margin-top: -18%;
    margin-left: 12%;
    
}
.ir
{
    float: right;
    margin-top: -18%;
    margin-right: 12%;
}


.il i
{
    font-size: 180px;
    color: #ffff80;
    
    
}

.ir i
{
    font-size: 180px;
    color: #ffff80;
}


.imagem button
{
    background-color: #00ff00;

    font-family: Georgia, 'Times New Roman', Times, serif;

    border-radius: 20px;

    font-size: 40px;
    color: white;
}


#ag
{
    width: 100px;
    height: 100px;

    margin-top: 20%;

    margin-left: 45%;
    cursor: pointer;
}

#ag:hover
{
    width: 200px;
    height: 200px;

    margin-left: 40%;
    margin-top: 10%;

}


#sec
{
    transition:  all .4s;
}